.correct {
	color: green;
}

.incorrect {
	color: red;
}

.questions, .allquestions, .questions2, .conclusion {
	display: none;
}


/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}